# Python-related files
*.pyc
*.pyo
__pycache__/
*.sqlite3

# Virtual environment
env/
venv/

# Environment variables
.env

# Node.js-related files (for the frontend)
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Django-related files
db.sqlite3

# IDE/editor config files
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Docker files
*.pid

mishmash/frontend/.sentryclirc

# .DS_Store files
.DS_Store